
    .content{
        background-color: #e7e7e7;
        min-height: 100vh;
    }
     
    .menu-box{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 0.5px;
        /*设置字母之间的间距*/
        font-weight: 600;
        position: relative;
        width: fit-content;
        /* fit-content 作用: 根据内容自适应宽度 可以结合margin-auto 来实现居中*/
        min-height: 100vh;
        /*浏览器可见视口【高度】的百分比（1vh代表视窗【高度】的1%）*/
        padding: 6px 12px;
        box-sizing: border-box;
        /*border-box是指将边框border和内边距padding在现有元素的宽度和高度内设置*/
        /*background-color: var(--color-menu-bg);*/
        background-color: var(--color-zidingyi);
    }
     
    .menu-box>input#menu-btn:checked+label>i{
        {transform: rotate(180deg);
    }
     
    .menu{
        font-size: 18px;
        width: 250px;
        min-height: 100%;
        cursor: pointer;
        overflow: hidden;
        transition: width var(--transition-menu-time);
        color: var(--font-color-mi);
    }
    /*
    A~B 选择前面有A元素的每个 B 元素，即选择 A 之后出现的所有 B，两种元素必须拥有相同的父元素，但 B 不必紧随 A。
*/
 
.menu-box > input#menu-btn:checked ~ .menu{
    width: 0;
}
 
.menu-title{
    text-align: center;
    margin-bottom: 10px;
}
 
.menu-item>label{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: var(--border-radius-mi);
    align-items: center;
}
 
.menu-item>label:hover{
    color: var(--font-color-mi-hover);
}
 
.menu-item>label>i:first-child{
    flex: none;
    margin-right: 6px;
    font-size: 24px;
}
 
.menu-item>label>span{
    flex: 1;
}
 
.menu-item>label>i:last-child{
    flex: none;
    font-size: 20px;
    font-weight: 900;
    transform: rotate(0deg);
    transition: transform var(--transition-menu-time);
}
 
.menu-item>input:checked+label>i:last-child{
    transform: rotate(180deg);
}
 
.menu-content{
    height: 0;
    overflow: hidden;
    /*清除浮动*/
    transition: height var(--transition-menu-time);
    display: flex;
    /*规定弹性项目会在需要时换行。*/
    flex-wrap: wrap;
    background-color: var(--color-zidingyi);
}
 
*{
    margin: 0;
    padding: 0;
/*    全局设置为0内外边距*/
}
 
:root{
    /*:root是指文档的根元素，在其中定义的变量可作为全局变量*/
    /*可以理解为 c语言 在main函数，定义的全局变量*/
    --color-menu-bg: #fff;
    --font-color-mi: #fdb095;
    --font-color-mi-hover: #7facd6;
    --color-bg-mi-hover: #e8b7d4;
    --border-radius-mi:2px;
    --transition-menu-time: 0.2s;
    --color-line-bg: #d3d3d3;
    --color-zidingyi:#ff7459;
}
<div class="content">
<div class="menu-box">
    <input type="checkbox" id="menu-btn">
    <label for="menu-btn"><i></i></label>
    <div class="menu">
    </div>
</div>
</div>
.menu-box input[type='checkbox'] {
    display: none;
    /*隐藏原生的多选框*/
}
<label for="menu-btn"><i class="iconfont icon-page_returns"></i></label>